@charset "utf-8";
/* CSS Document */

.menu {
 
 font-family: Verdana;
 font-size: 30px;
 color: #000;
 text-align: center;
 text-decoration: none;
 border: #B1B1B1 solid;
 border-width: 0 0px 0 0;
 padding: 10px 17px 10px 12px;
 float: right;
 margin-top: 110px;
 margin-left: 1px;

}

.menu:link,.menu:visited {
    background-color: #c2c2c2;
}

.menu:hover,.menu:active {
    background-color: #F9C232;
}

div {
    width: 500px;
    padding: 200px;
    margin: 10px;
	float: right
}
p{
	font-size: 20px;
	width: 1300px;
}

	